@import url('https://fonts.googleapis.com/css2?family=Snell+Roundhand&display=swap');

body {
    text-align: center;
    font-family: 'Snell Roundhand', cursive; /* Police Snell Roundhand */
    background-color: royalblue; /* Bleu royal */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: white; /* Texte par défaut en blanc */
    transition: background-color 0.5s; /* Transition pour le changement de fond */
}

.message {
    font-size: 36px;
    color: white;
    cursor: pointer;
    transition: color 0.3s;
}

.message:hover {
    color: black; /* Change la couleur au survol */
}

#lettre {
    display: none;
    margin-top: 20px;
    font-size: 18px;
    color: black; /* Couleur du texte de la lettre */
    max-width: 500px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fond-noir {
    background-color: midnightblue; /* Bleu nuit */
    color: black; /* Assure que le texte est noir aussi */
}
